@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #000;

    --card: #fcfcfc;
    --card-foreground: #fff;

    --popover: #fcfcfc;
    --popover-foreground: #fff;

    --primary: #3182ed;
    --primary-foreground: #fff;

    --secondary: #3182ed;
    --secondary-foreground: #fff;

    --muted: rgba(0,0,0,.1);
    --muted-foreground: #2e2e2e;

    --accent: #e74b4b;
    --accent-foreground: #fff;

    --destructive: #d33131;
    --destructive-foreground: #fff;

    --border: #e8e8e8;
    --input: #edf0f2;
    --ring: #004094;

    --radius: 0.5rem;
  }

  .dark {
    --background: #101011;
    --foreground: #f9fafb;

    --card: #202025;
    --card-foreground: #fff;

    --popover: #1a1a1c;
    --popover-foreground: #f1eeee;

    --primary: #4387f4;
    --primary-foreground: #f1eeee;

    --secondary: #ffa724;
    --secondary-foreground: #d9d9d9;

    --muted: #6c737a;
    --muted-foreground: #6c737a;

    --accent: #e74b4b;
    --accent-foreground: #fff;

    --destructive: #f44034;
    --destructive-foreground: #fff;

    --border: #33333d;
    --input: #33333d;
    --ring: #a5c3f3;
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
